<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">

 <h1>Student Management System</h1>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>

     <table border="1" class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
					  RollNO
					</th>
					<th>
					  Dept
					</th>
					<th> Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${l}">
					<td th:text="${student.Name}"></td>
					<td th:text="${student.RollNo}"></td>
					<td th:text="${student.Dept}"></td>
					<td>
					  <a th:href="@{/showFormForUpdate/{RollNo}(RollNo=${student.RollNo})}" class="btn btn-primary">Update</a>
					    <a th:href="@{/deleteStudent/{RollNo}(RollNo=${student.RollNo})}" class="btn btn-danger">Delete</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<form action="input">
		<br>
		<button> create new Student </button>
		</form>
</body>

</html>