<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<center>
<h2> Enter Your Details</h2>
<body>

 <form action = "store">
      Name<br><input type = "text" name = "Name"> <br> <br>
      RollNo<br><input type = "text" name = "RollNo"> <br><br>
      Dept<br><input type = "text" name = "Dept"><br> <br>
      <br>
      <button style = "background-color:lightblue">Submit</button>
     </form>
 </center>
</body>

</html>